:root {
    --white: #fff;
    --dark: #1E2022;
    --dark-800: #5F6979;
    --light: #F7FAFF;
    --light-500: #EFF5FE;
    --red: #ed4565;
    --soft-red: #ffedf0;
    --size-32: 32px;
    --size-20: 20px;
    --size-18: 18px;
    --size-16: 16px;
    --size-14: 14px;
    --size-12: 12px;
    --radius-small: 6px;
    --radius--circle: 50%;
    --text-regular: 400;
    --text-medium: 500;
}

@font-face {
	font-family: 'Shrikhand'; 
	src: url(../webfonts/Shrikhand-Regular.ttf);
}

html {
    position: relative;
    min-height: 100%;
    font-size: var(--size-16);
    line-height: 1.5;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    font-weight: var(--text-regular);
    line-height: 1.5;
    color: var(--dark);
    background-color: #3c1e49;
}

.collapsing {
    transition-property: height, visibility;
    transition-duration: 0s;
    transition: none !important;
}

.mr-16 {
    margin-right: 16px;
}

.ml-16 {
	display: inline-block;
}

.mb-16 {
    margin-bottom: 16px;
}


.header {
    padding: 10px 0;
}

.navbar-brand {
    font-size: 26px;
    font-weight: 800;
    line-height: .8;
    text-transform: uppercase;
    color: var(--dark)
}

.navbar-brand span {
    font-size: 13px;
    font-weight: 500;
    display: block;
    text-align: right
}

.translate-link {
    font-size: var(--size-32);
    color: var(--dark-800);
}

.form-control.empty_field {
    border-color: var(--soft-red);
}

.form-control.empty_field::placeholder {
    color: var(--red);
}

.section {
    padding-bottom: 100px;
}

.card,
.card-store {
    padding: 16px;
    border-radius: var(--radius-small);
    transition: box-shadow 0.3s ease-in-out;
    margin-bottom: 16px;
}

.accordion>.card{
    border-radius: var(--radius-small)!important;
}

.card.accordion-collapse {
    margin-top: -16px;
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
    box-shadow: none;
}

.card[aria-expanded="true"] {
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
    box-shadow: none;
}

.card:hover {
    box-shadow: 0px 32px 24px -16px rgba(0, 37, 91, 0.05);
}


.card-store__title {
    font-size: var(--size-16);
}

.card-store__topay {
    font-size: var(--size-20);
    font-weight: var(--text-medium);
}

.card-store__image {
    width: 64px;
    height: 64px;
    border-radius: var(--radius-small);
}

.card-store__image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card__title {
    font-weight: var(--text-medium);
}

.card__title_cry {
	font-size: 1.3rem;
}

.card__text {
    font-size: var(--size-14);
    color: var(--dark-800);
    margin-bottom: 0;
}

.card__image {
    width: 50px;
    height: 50px;
    border-radius: var(--radius--circle);
    background-color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__image img {
    height: 32px;
    object-fit: contain;
    border-radius: var(--radius--circle);
}

.card__loading-image {
    width: 100px;
    height: 100px;
    border-radius: var(--radius--circle);
    overflow: hidden;
    margin: 0 auto 32px auto;
}

.footer {
    margin-top: 6px;
    padding-top: 24px;
    border-top: 1px solid var(--light-500);
    font-size: 16px;
}

.footer__link {
    color: var(--dark)
}

.footer__images img {
    width: 55px;
    height: 20px;
    object-fit: contain;
}

#content {
 font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 400px) {
    #qrCodeImage {
        width: 100%;
    }
}

.empty-1 {
    margin-top: 32px;
    padding-top: 24px;
}

.qr_code {
    margin-top: 6px;
}

.logo_my {
	padding-top: 20px;
	padding-bottom: 20px;
	color: var(--white);
	text-align: center;
	font-family: 'Shrikhand', sans-serif;
	font-size: 26px;
}

